<div class="container">
  <h2>Chat with your friends!</h2>
  <div>{{ $ctrl.username.name }}</div>
    <div>{{ $ctrl.username.fname }}</div>
  <div>{{ $ctrl.newThing }}</div>
  <ul class="list-group">
    <li class="list-group-item">
      <p class="input-group">
        <input type="text" class="form-control" placeholder="something to say?" ng-model="$ctrl.newThing">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-bsic" ng-click="$ctrl.addThing()">send
        </button>
      </span>
      </p>
      <div class="panel panel-default">
        <div class="panel-body">
          <div ng-repeat="x in $ctrl.awesomeThings" class="media">
            <div class="media-left">
              <img height="84" width="150" style="border:1px solid #ccc;padding:1px" src="http://t3.gstatic.com/images?q=tbn:ANd9GcS3339yl-yWJtFpWxsJjqf5Vr10L6FXs95omzMC95nfJUDAi8MVXUIs5FHs">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{ $ctrl.getCurrentUser().name }}</h4>
              <div>
                <button type="submit" class="btn btn-bsic" ng-click="$ctrl.deleteThing()">Delete
                </button>
                <strong style="color: blue">{{ $index + 1 }}</strong>
                <strong>Message: </strong> {{ x.name }}
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
